body,html {
    margin : 0;
    padding : 0;
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#title {
    margin-top : 2%;
    padding-bottom:  2%;
    text-align : center;
}

#mynetwork {
    height: auto;
    border: 1px solid black;
}

.row {
    display: flex;
    text-align: center;
}

.row-content {
    flex : 1;
}

.row-sommet {
    text-align: center;
    margin-top : 1%;
    margin-bottom: 2%;
}


#nav input {
    border-radius: 7px;
}
#nav {
    border :1px solid black;
    padding : 2%;
}

tr,td,thead {
    text-align : center;
}

.table-arcs {
    margin-top : 20%
}